* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif!important;
  background-color: #f6f6f6;
}

body, html, h1, h2, h3, h4, h5, h6, ul, ol, li,
dl, dt, dd, header, menu, section, p, input,
td, th, ins {
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #727272;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* 点击透明 */
}

a:hover {
  color: #727272;
  text-decoration: underline;
}

i, em {
  font-style: normal;
}

input, textarea, button, select, a {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
  vertical-align: middle;
}

/* 自定义滚动条样式 */
html::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border: 1px solid #fff;
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: inherit;
}